.authentication {
  //   width: 97.5vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  .auth-left {
    width: 28%;
    background-color: #4085f6;
    // height: 100%;
    // background-color: $theme-color;
    color: #fff;
    position: relative;
    .auth-left-content {
      margin-bottom: 45px;
      padding: 45px;
      height: calc(100% - 45px);
      // height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .tagline {
        margin-bottom: 90px;
      }
      h2 {
        line-height: 1.25;
        font-size: 26px;
        letter-spacing: 1px;
      }
      p {
        letter-spacing: 0.8px;
        font-size: 13px;
        margin: 0;
        font-weight: 400;
        font-family: Halvetica;
        line-height: 1.8;
      }
    }
    .auth-asset {
      position: absolute;
      height: 400px;
      background-image: url(./../assets/images/auth-asset.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
    }
    img {
      width: 115px;
      z-index: 99;
      aspect-ratio: 3/1;
    }
  }
  .auth-right {
    width: 72%;
    .auth-content {
      margin: 0 auto;
      width: 50%;
      text-align: center;
      p {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 1.3;
      }
    }
  }
}
