@import "../../node_modules/@flaticon/flaticon-uicons/css/all/all.css";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
$theme-color: #4085f6;
$secondary-border-color: #dadfe3;
$light-bg-color: #f6f6f6;
$active-bg-color: #4085f61a;
$secondary-text-color: #999999;
$secondary-icon-color: #666666;
$light-text-color: #b3b3b3;

$low-priority-color: #0dbf98;
$medium-priority-color: #ffa500;
$high-priority-color: #ff4136;


$details-card-bg : #F4F4F4;

$open-status: #007bff;
$onhold-status: #ffc107;
$inprogress-status: #17a2b8;
$done-status: #28a745;

.ant-input,
.ant-btn-default,
.ant-input-number,
.ant-picker,
.ant-select,
.ant-select-selector {
    height: 40px;
    border-radius: 5px;
    cursor: pointer !important;
    display: flex;
    align-items: center;
}

.ant-col{
    label{
        font-weight: 500;
    }
}

.ant-btn-default:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

body,span {
  font-family: "Inter Tight", sans-serif;
  margin: 0px;
}

i {
  display: flex;
  cursor: pointer;
}

.fmx-product {
  display: flex;
}

.fmx-page-container {
  width: 80%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  min-height: 100vh;
}

@import "./sidebar.scss";
@import "./header.scss";
@import "./work-order.scss";
@import "./common.scss";
@import "./auth.scss";
@import './procedure.scss';
@import './asset-management.scss'