.work-order-container {
    background: $light-bg-color;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;

    .work-order-header {
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        padding: 25px;
        display: flex;
        justify-content: space-between;

        .wo-filters,
        .wo-main-option {
            display: flex;
            align-items: center;
        }

        .wo-filters {
            width: 60%;
            display: flex;
            gap: 5px;

            .filter-btn {
                border-radius: 2px;
                border: 1px solid #CCCCCC;

                i {
                    color: $theme-color;
                }
            }
        }

        .wo-main-option {
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            &>p {
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
            }

            .create-wo-btn {
                color: #fff;
                background: $theme-color;
            }
        }
    }

    .work-order-data-container {
        display: flex;
        margin-top: 10px;
        box-sizing: border-box;
        padding: 10px 40px;
        height: 100%;
        gap: 10px;

        .work-order-list,
        .create-view-work-order {
            border: 1px solid $secondary-border-color;
            box-sizing: border-box;
            border-radius: 5px;
            background: #fff;
        }

        .work-order-list {
            width: 45%;
        }

        .create-view-work-order {
            box-sizing: border-box;
            width: 60%;
            background: transparent;
            position: relative;
            overflow-y: scroll;
            height: calc(100vh - 235px);
            position: sticky;
            top: 25px;

            .create-wo {
                padding: 20px;
                box-sizing: border-box;
                height: 90%;
                overflow: scroll;
                background: #fff;

                .ant-input,
                .ant-btn-default,
                .ant-input-number,
                .ant-picker,
                .ant-select,
                .ant-select-selector {
                    width: 100%;
                }

                .wo-priority-container {
                    display: flex;
                    gap: 20px;
                    position: relative;
                }

                .start-end-date-container {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .ant-space-item {
                        width: 45%;
                    }
                }

                .estimated-time-container {
                    display: flex;
                    width: 100% !important;

                    .ant-row {
                        width: 100%;
                    }

                    .ant-space {
                        width: 100%;

                        .ant-space-item,
                        .ant-input-number {
                            width: 100%;
                        }
                    }
                }

                .pm-container {
                    width: 80% !important;

                    .ant-space-item {
                        width: 50%;
                    }
                }

                .recurrent-area {
                    margin-bottom: 10px;
                }

                .ant-picker {
                    width: 100%;
                }

                .add-procedure-btn {
                    width: 50%;
                    border: 1px solid $theme-color;
                    color: $theme-color;
                }

                .procedure-form-item {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .procedure-form-card {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 25px;
                        border: 1px solid #dadfe3;
                        border-radius: 4px;
                        height: 40px;
                        cursor: pointer;
                        
                        .title{
                            font-size: 15px;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            color: #888888;
                            cursor: pointer;
                        }
                        
                        .icons {
                            font-size: 16px;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            color: $theme-color;
                            cursor: pointer;
                        }
                    }

                    p {
                        margin: 0px;
                        margin-bottom: 4px;
                        font-size: 14px;
                    }
                }
            }

            .work-order-form {
                position: relative;

                row {
                    display: flex;
                    width: 70%;
                    flex-direction: column;
                    justify-content: space-evenly;

                    &>div {
                        display: flex;
                        gap: 10px;
                        width: 100%;

                        &>div {
                            height: 40px;
                            width: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50px;
                            background: $theme-color;
                            color: #fff;
                            cursor: pointer;
                            transition: all ease-in 0.1s;

                            &:hover {
                                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
                            }
                        }
                    }
                }

                weeklyrow {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    &>p {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .ant-select {
                            height: 30px;
                            width: 12%;
                        }

                        .ant-select-selector {
                            border: none;
                            border-radius: 0px;
                            border-bottom: 1px solid #ccc;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                    &>dayrow {
                        display: flex;
                        width: 80%;
                        gap: 10px;

                        &>div {
                            height: 40px;
                            width: 40px;
                            border-radius: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $theme-color;
                            border: 1px solid $theme-color;
                            border-style: dashed;
                            cursor: pointer;
                        }
                    }

                    &>p:nth-child(2) {
                        font-size: 12px;
                        margin: 2px;
                    }
                }

                monthlyrow {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .ant-select {
                        height: 30px;
                        width: 14%;

                        .ant-select-selector {
                            border: none;
                            border-radius: 0px;
                            border-bottom: 1px solid $secondary-icon-color;
                        }
                    }
                }

                yearly {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    &>div {
                        display: flex;
                        gap: 5px;
                        align-items: center;

                        .ant-select {
                            height: 30px;
                            width: 15%;
                            border: none;

                            .ant-select-selector {
                                border: none;
                                border-radius: 0px;
                                box-shadow: none;
                                border-bottom: 1px solid $secondary-border-color;
                            }
                        }
                    }
                }

                .ant-upload-drag-container {
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center;
                    justify-content: center;

                    i {
                        transform: scale(1.5);
                    }
                }
            }

            .create-wo-finish-btn {
                width: 90% !important;
                background: $theme-color;
                color: #fff;
                position: absolute;
                bottom: 10px;
                left: 0px;
                right: 20px;
                display: flex;
                margin-left: auto;

                &:hover {
                    background: #fff;
                    color: $theme-color;
                }
            }

            .view-wo-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .markDoneBtn {
                    background: $theme-color;
                    color: #ffffff;
                    width: 80%;
                    display: flex;
                    margin: 0 auto;

                    &:hover {
                        color: $theme-color !important;
                        border: 1px solid $theme-color !important;
                        background: #fff !important;
                    }
                }
            }

            .view-wo {
                width: 100%;
                box-sizing: border-box;
                height: 90%;
                overflow: scroll;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .procedure-container{
                    box-sizing: border-box;
                    padding: 30px;
                    .input-container{
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        box-sizing: border-box;
                        padding: 15px;
                        & > h4{
                            margin: 0px;
                            margin-bottom: 10px;
                        }
                        & > ul{
                            margin-left: 0px;
                            padding: 0px;
                            padding-left: 10px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }
                        &:not(:last-child){
                            border-bottom: 1px solid $secondary-border-color;
                        }
                    }
                }

                &>div {
                    background: #fff;
                }

                &::-webkit-scrollbar {
                    width: 1px;
                }

                .wo-intro {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    box-sizing: border-box;
                    padding: 9px 25px;
                    align-items: center;

                    &>h2 {
                        font-size: 20px;
                    }

                    .view-wo-action-btns {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        i {
                            transition: transform ease-in .2s;
                            height: 35px;
                            width: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50px;
                            border: 1px solid $secondary-text-color;
                            transition: all ease-in-out .1s;

                            &:hover {
                                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                            }
                        }
                    }
                }

                .wo-status-desc {
                    box-sizing: border-box;
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    &>h4 {
                        margin: 0px;
                    }

                    .wo-status-container {
                        display: flex;
                        gap: 10px;
                        margin: 10px 0px;

                        .status-btn {
                            border: 1px solid $secondary-border-color;
                        }
                    }
                }

                .wo-info {
                    background:$details-card-bg;
                    box-sizing: border-box;
                    padding: 15px;
                    border-radius: 10px;
                    width: 90%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(2, 150px);
                    justify-content: space-between;
                    grid-gap: 15px;

                    p:nth-child(1) {
                        font-size: 16px;
                        font-weight: 600;
                        margin: 0px;
                    }

                    p:nth-child(2) {
                        font-size: 14px;
                        color: $secondary-text-color;
                    }

                    .d-flex {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 14px;
                        justify-content: flex-start;
                        color: $secondary-text-color;
                        margin: 15px;

                        .ant-avatar-sm {
                            height: 20px;
                            width: 20px;
                        }
                    }

                    .status-color-group {
                        height: 20px;
                        width: 20px;
                        border-radius: 50px;
                        border: none;
                    }
                }

                .wo-type {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    box-sizing: border-box;
                    padding: 25px;

                    &>div {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        &>p {
                            color: #000;
                            font-weight: 600;
                            font-size: 16px;
                            margin: 2px;
                        }

                        &>text {
                            color: $secondary-text-color;
                            font-size: 14px;
                            line-height: 25px;

                            &>p {
                                margin: 0px;
                            }
                        }
                    }
                }

                .wo-description {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 25px;

                    &>h3,
                    &>p {
                        margin: 0px;
                    }

                    &>p {
                        font-size: 14px;
                        line-height: 25px;
                        color: $secondary-text-color;
                    }
                }

                .wo-comment-section {
                    box-sizing: border-box;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h4 {
                        margin: 5px;
                    }

                    p {
                        margin: 0px;
                        font-size: 12px;
                        color: $secondary-text-color;
                    }
                }
            }
        }

        .work-order-list {
            .create-new-wo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                box-sizing: border-box;
                padding: 50px;
                width: 100%;

                .new-wo-btn {
                    border: 1px solid $theme-color;
                    color: $theme-color;
                }

                &>p {
                    color: $secondary-icon-color;
                    margin: 0px;
                }
            }

            .ant-tabs-nav {
                margin-bottom: 0px;
            }

            .ant-tabs-nav-list {
                width: 100%;

                .ant-tabs-tab {
                    width: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .work-order-flat-list {
                box-sizing: border-box;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .work-order-card {
                    border: 1px solid $secondary-border-color;
                    width: 100%;
                    border-radius: 4px;
                    box-sizing: border-box;
                    padding: 20px;
                    display: flex;
                    cursor: pointer;
                    transition: all ease-in .2s;

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                    }

                    .wo-details {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        &>h4 {
                            margin: 0px;
                            font-size: 18px;
                            font-weight: 700;
                        }

                        &>p {
                            margin: 0px;
                        }

                        &>p:nth-child(2) {
                            font-size: 14px;
                            color: $secondary-icon-color;
                            font-weight: 400;
                        }

                        &>p:nth-child(3) {
                            color: $light-text-color;
                            font-size: 12px;
                        }

                        .assignee-name {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            &>p {
                                color: $light-text-color;
                                font-size: 14px;
                                margin: 0px;

                                &>span {
                                    color: #000;
                                }
                            }
                        }
                    }

                    .wo-status {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-end;

                        i {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

.extra-options-icon {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border: 1px solid $secondary-border-color;
}

.extra-options-dropdown {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
}


.quick-actions-container {
    background: $light-bg-color;
    box-sizing: border-box;
    padding: 10px;
    display: flex;

    .sort-by,
    .calendar,
    .mark-as-read {
        width: 50%;
        color: #000;
        text-align: center;
    }

    .sort-by,.calendar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
    }
}

.none-priority{
    border: 1px solid $theme-color;
    color: $theme-color;
    background: lighten($color: $theme-color, $amount: 35%);
}

.low-priority {
    background: lighten($color: $low-priority-color, $amount: 35%);
    border: 1px solid $low-priority-color;
    color: $low-priority-color;
}

.medium-priority {
    background: lighten($color: $medium-priority-color, $amount: 35%);
    border: 1px solid $medium-priority-color;
    color: $medium-priority-color;
}

.high-priority {
    background: lighten($color: $high-priority-color, $amount: 35%);
    border: 1px solid $high-priority-color;
    color: $high-priority-color;
}

.openStatusActive {
    background: lighten($color: $open-status, $amount: 45%);
    color: $open-status;
    border: 1px solid $open-status;
}

.onHoldStatusActive {
    background: lighten($color: $onhold-status, $amount: 45%);
    color: $onhold-status;
    border: 1px solid $onhold-status;
}

.inProgressStatusActive {
    background: lighten($color: $inprogress-status, $amount: 45%);
    color: $inprogress-status;
    border: 1px solid $inprogress-status;
}

.doneStatusActive {
    background: lighten($color: $done-status, $amount: 45%);
    color: $done-status;
    border: 1px solid $done-status;
}

.create-view-work-order::-webkit-scrollbar,
.create-wo::-webkit-scrollbar {
    width: 0px;
}

.dynamic-input-container {
    width: 100% !important;
    padding: 0 8px 4px;

    .ant-space-item:nth-child(1) {
        width: 65%;
    }

    .ant-space-item:nth-child(2) {
        width: 25%;
    }
}

.menu-dropdown {
    margin-bottom: 10px;
    width: 100%;
}


.selected-procedure{
    border: 1px solid $theme-color !important;
    background: #4085f625;
}